body {
    font-family: 'Century Gothic', 'Avenir', sans-serif;
    background-color: #f4f4f9;
    color: #333;
    margin: 0;
    padding: 0;
}

.login-container, .dashboard-container {
    width: 300px;
    margin: 50px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
}

h1 {
    text-align: center;
}

form {
    display: flex;
    flex-direction: column;
}

input, select, button {
    margin: 5px 0;
    padding: 10px;
}

button {
    background-color: #5cb85c;
    color: #fff;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #4cae4c;
}

#transactionList, #analysis {
    margin-top: 20px;
}
